modules = ["python-3.11", "nodejs-24", "angular-node-24", "typescript-language-server", "pyright", "nodejs-20", "nodejs-23"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Full Stack Discord App"

[[workflows.workflow]]
name = "Full Stack Discord App"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python server.py"
waitForPort = 5000

[[workflows.workflow]]
name = "Install Packages & Run Project"
mode = "sequential"
author = 44439860

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Project"

[deployment]
run = "python main.py & npm start & wait"
build = "pip install . && npm install"

[[ports]]
localPort = 5000
externalPort = 80

[nix]
packages = ["killall"]
channel = "stable-25_05"
